@inject URLShortener.Helpers.LangTransHelper LangTransHelper

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Html.Raw(LangTransHelper.TransText("Title"))</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/URLShortener.styles.css" asp-append-version="true" />

    <meta name="description" content="@Html.Raw(LangTransHelper.TransText("Description"))">
    <meta name="keywords" content="@Html.Raw(LangTransHelper.TransText("Keywords"))">

    @{
        if (ViewData["IsLang"] != null) 
        {
            var langs = (IList<Google.Cloud.Translation.V2.Language>?)Context.Items["langs"];

            @if (Context.Items["LangCode"].ToString() == "en")
            {
                <link rel="canonical" href="@(Context.Request.Scheme)://@(Context.Request.Host.Value)/">
            }

            foreach (var lan in langs)
            {
                <link rel="alternate" hreflang="@lan.Code" href="@(Context.Request.Scheme)://@(Context.Request.Host.Value)/@lan.Code" />
            }
        }
    }

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VLTQ3Z28ME"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-VLTQ3Z28ME');
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@($"{Context.Request.Scheme}://{Context.Request.Host.Value}/")">@Html.Raw(LangTransHelper.TransText("Home"))</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="URLChecker">@Html.Raw(LangTransHelper.TransText("URLChecker"))</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CustomizeURL">@Html.Raw(LangTransHelper.TransText("CustomizeURL"))</a>
                        </li>
                     <!--   <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Lifestyle">Lifestyle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Technology">Technology</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="HealthWellness">Health and Wellness</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PersonalFinance">Personal Finance</a>
                        </li>
                           -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Today.Year - @Html.Raw(LangTransHelper.TransText("URLShortener")) - <!--<div style="display:none;" class="footer_links"><a style="text-decoration:none;color:#6c757d" asp-area="" asp-controller="Home" asp-action="PrivacyPolicy">@Html.Raw(LangTransHelper.TransText("PrivacyPolicy"))</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="text-decoration:none;color:#6c757d;" asp-area="" asp-controller="Home" asp-action="TermsOfService">@Html.Raw(LangTransHelper.TransText("TermsofService"))</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="text-decoration:none;color:#6c757d;" asp-area="" asp-controller="Home" asp-action="Disclaimer">@Html.Raw(LangTransHelper.TransText("Disclaimer"))</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="text-decoration:none;color:#6c757d;" asp-area="" asp-controller="Home" asp-action="AboutUs">@Html.Raw(LangTransHelper.TransText("AboutUs"))</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>-->
            <a style="text-decoration:none;color:#6c757d;" asp-area="" asp-controller="Home" asp-action="ContactUs">@Html.Raw(LangTransHelper.TransText("ContactUs"))</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        if ($(document).width() > 766) {
            $('.footer_links').show();
            $('.footer_links').css('display', 'inline');
        } else {
            $('.footer_links').hide();
        }


    </script>
 
</body>
</html>
